* {
    text-transform: uppercase;
    box-sizing: border-box;
}

body {
    text-align: center;
    color: #484848;
    font-size: 16px;
}

table {
    height: 660px;
    width: 1197px;
}

/*main*/

.quiz {
    border-width: 28px 27px 21px 27px;
    border-style: solid;
    border-color: #3A4965;
    margin: 0 auto;
}

.top-border {
    border-bottom: 10px;
    border-style: solid;
    border-color: #3A4965;
}

.quiz th, .quiz td {
    font-family: 'Arimo', sans-serif;
    vertical-align: middle;
    line-height: 24px;
}
.distance {
    width: 158px;
}
.left-distance {
    padding-left: 7px;
}

.quiz th {
    height: 58px;
}

.correction {
    width: 10px;
}

.border {
    border-bottom: 1px solid rgba(0, 0, 0, 0.27);
}

.quiz .down {
    vertical-align: bottom;
}

.quiz .up {
    vertical-align: top;
}

.quiz .left {
    text-align: left;
}

.quiz .right {
    text-align: right;
}

.white {
    color: white;
}

.green {
    background-color: #89C331;
}

.red {
    background-color: #F04A56;
}

.aquamarine {
    background-color: #20807C;
}

.darkGrey-button {
    background: linear-gradient(#484848 80%, #404040 20%);
}

/*fonts */

.small {
    font-size: 14px;
}

.small-pro {
    font-size: 18px;
}

.middle {
    font-size: 20px;
}

.big {
    font-size: 24px;
}

.very-big {
    font-size: 36px;
}

.bold {
    font-weight: bold;
}

button {
    width: 147px;
    height: 44px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*!*background *!*/

.light-white {
    background-color: #FAFAFA;
}

.light-grey {
    background-color: #F2F2F2;
}

.dark-grey {
    background-color: #E3E3E3;
}